.nombreTiendaSuplementos {
    margin-left: 10px;
}

.iconoPerfil{
    margin-right: 10px;
    font-size: 18px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
}

.iconoPerfil i{
    color: white;
}

.carrito {
	margin-right: 20px;
	font-size: 18px;
}

.carrito i{
	color: white;
}

.tablaAdmin {
    margin-top: 150px;
}

.tablaAdmin table {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 1);
}

@media (max-width: 991px){
    .nombreTiendaSuplementos {
        display: none;
    }

    .iconoPerfil{
        display: none;
    }
    
    .carrito{
        display: none;
    }
}

@media (min-width: 992px){
    .perfilLink {
        display: none;
    }
}

/* Estilos de la vista Editar usuario y Editar suplemento */

.imagen {
    max-height: 160px;
}

.contenedor {
    background-color: #FFFAFB;
    margin: 0 auto;
    max-width: 35%;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.contenedor-imagen {
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
}

.botonImagen {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    max-width: 150px;
}

.botonVolver {
    margin-top: -38px;
    float: right;
}

.inputVistaEditar {
    border: 1px solid black;
}

/* Fin de Estilos de la vista Editar usuario */

/* Estilo de la vista Perfil */
.divContenedorPerfil {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 50%;
    margin: 0 auto;
    box-shadow: 18px 10px 53px -8px rgba(0,0,0,0.75);
}

.imagenPerfil {
    display: flex;
    margin: 0 auto;
    max-width: 350px;
}

.nombrePerfil {
    margin-top: 20px;
    text-align: center;
}

.botonVolverPerfil {
    margin: 0 auto;
    display: flex;
    max-width: 118px;
}

@media (max-width: 500px){
    .imagenPerfil {
        max-width: 110px;
    }
}

@media (min-width: 501px) and (max-width: 991px){
    .imagenPerfil {
        max-width: 200px;
    }
}

@media (min-width: 992px){
    .imagenPerfil {
        min-width: 300px;
    }
}
/* Fin Estilo de la vista Perfil */